<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SaiGou動漫網</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="./animation">動畫網站<span class="new badge"></span></a></li>
      <li><a href="./member">會員中心</a></li>
      <li><a href="./about">關於</a></li>
    </ul>
  </div>
</nav>