<%- layout('./layouts/default') -%>


<div class="container">
    <h1>十月新番</h1>
    <p>十月新番快出爐囉！先來看有哪些吧？</p>
    <div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/XD57Wy3TaRY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container">
        <a class="waves-effect waves-light btn">點我觀看</a>
    </div>
      
    
  
</div>

